Convert eh PNSN file into a CSV file

In [2]:
import pandas as pd

In [11]:
f1 = pd.read_csv("../data/events/su_picks.txt",sep="|")
f1.head()

,date,net,sta,location,seedchan,iphase,quality,orid,etype,evid
0,1981/07/18 13:35:36,UW,MAS,,EHZ,P,0.3,2250848.0,su,10117193.0
1,1981/07/18 13:35:38,UW,GLK,,EHZ,P,0.3,2250848.0,su,10117193.0
2,1981/07/18 13:35:41,UW,WPW,,EHZ,P,0.3,2250848.0,su,10117193.0
3,1981/07/18 13:35:43,UW,LON,,LHZ,P,0.3,2250848.0,su,10117193.0
4,1981/07/18 13:35:43,UW,FLT,,EHZ,P,0.0,2250848.0,su,10117193.0